## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [14]:
import math
side = float(input("Enter the side of the equilateral triangle: "))
area = (math.sqrt(3)/4)*pow(side,2)
print("Area:",area)

Enter the side of the equilateral triangle: 4
Area: 6.928203230275509

## 2. Write a program to count the number of each characters in a string

In [23]:
uniq_ch=list(set(str(input("String=")).replace(" ","").lower()))
uniq_ch.sort()
for i in uniq_ch:
    print("{0}:{1}".format(i,s.count(i)), end="" if i==uniq_ch[-1]  else ",")

String=Hello world the World Hi
d:1,e:1,h:2,i:0,l:3,o:3,r:1,t:1,w:1

## Write a program to find the area and perimeter of a rectangle using functions

In [1]:
def ops(l,b):
  print("area:",l*b)
  print("perimeter:",2*(l+b))

len=int(input("Length:"))
bre=int(input("breadth:"))
ops(len,bre)

Length:3
breadth:4
area: 12
perimeter: 14

## 4. Write a program to print the fibonacci series till a specified number

In [7]:
n=int(input("fibonacci series till:"))
term_1=0
term_2=1
term_3=1
while term_1 < n:
    print(term_1, end = " ")
    term_1=term_2
    term_2=term_3
    term_3=term_1+term_2

fibonacci series till:34
0 1 1 2 3 5 8 13 21

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [37]:
a,b,c = input("Enter three numbers followed by  : ").split()
print("First number :",a)
print("Second number :",b)
print("Third number :",c)
if a==b==c:
    print("Entered numbers are equal!!!")
else:
    print(min(a,b,c),"is smallest")

Enter three numbers followed by  : 2 3 5
First number : 2
Second number : 3
Third number : 5
2 is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [51]:
n=int(input("Number of lines:"))
for i in range (1,n+1):
    for j in range (n-i):
        print(" ",end="")
    for j in range (i):
        print("* ",end="")
    print("")

Number of lines:6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [52]:
def to_seconds(t):
    t=t*60*60
    return t
time_in_hours = int(input("Hour:"))
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Hour:12
12  Hour is equal to 43200  Seconds

## 8. Write a program to print multiplication table as below

In [8]:
n=int(input("Enter a number to find the multiplication table:"))
for i in range (1,11):
  print("{0} X {1} = {2}".format(i,n,i*n))

Enter a number to find the multiplication table:4
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [43]:
foods=list(map(str,input().split()))
for i in foods:
  print("I like",i)

biriyani icecream coffee cake
I like biriyani
I like icecream
I like coffee
I like cake

## 10. Find error(s) in the following code(if any) and rewrite code.

In [15]:
x= int(input("Enter value of x:"))
for i in range (0,10):
     if x==i:
          print("{0},{1}:They are equal".format(x,i))
     else:
          print( "{0},{1}:They are unequal".format(x,i))

Enter value of x:4
4,0:They are unequal
4,1:They are unequal
4,2:They are unequal
4,3:They are unequal
4,4:They are equal
4,5:They are unequal
4,6:They are unequal
4,7:They are unequal
4,8:They are unequal
4,9:They are unequal